body {
    background-color: blanchedalmond;
    text-align: center;
}

#calc-container {
    background-color: greenyellow;
    border: 2px solid;
    border-radius: 5%;
    width: 250px;
    height: auto;
    margin: 0 auto
}

#calc-display {
    margin-top: 20px;
    height: 40px;
    width: 80%;
    background-color: rgba(211, 210, 178, 0.61);
    text-align: right;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 40px;
    height: 35px;
    border-radius: 10%;
}